@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet');


.botones{
    border:solid black 1px
}
.apost{
    margin-top: 5px;
}

:root {
  --primary: #dc2626;
  --secondary: #6E2F24;
  --primary-light: #f87171;
  --primary-dark: #991b1b;
  --foreground: #fff;
  --gray: #78716C;
  --yellow: #f1d978;
  --bg: #f9fafb;
  --outline-none: 2px solid transparent;
  --shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);

}

/*Animacion de las monedas*/

/*Animacion de las monedas--parte derecha*/
.moneda_img{
    position: absolute; bottom: 0; animation: monedas 3s linear infinite;
    display: block;
    z-index: 1;
}
.moneda_img img{

    width: 54px;height: 54px;
}

.moneda_img:nth-child(1){
    left:83%; animation-duration: 5s; animation-delay: 3s;
}
.moneda_img:nth-child(2){
    left:90%; animation-duration: 4s; animation-delay: 2s;
}

.moneda_img:nth-child(3){
    left:87%; animation-duration: 2s; animation-delay: 3s;
}

.moneda_img:nth-child(4){
    left:85%; animation-duration: 3s; animation-delay: 2s;
}

/*Animacion de las monedas--parte izquierda*/
.moneda_img:nth-child(5){
    left:12%; animation-duration: 4s; animation-delay: 2s;
}

.moneda_img:nth-child(6){
    left:9%; animation-duration: 5s; animation-delay: 3s;
}

.moneda_img:nth-child(7){
    left:1%; animation-duration: 3s; animation-delay: 2s;
}

.moneda_img:nth-child(8){
    left:6%; animation-duration: 2s; animation-delay: 3s;
}

@keyframes monedas{
    0%{
        bottom: 0;

    }
    50%{
        opacity: .6;
    }
    100%{
        bottom: 100vh;
        opacity: 0;
   
    }
}


.nomMaquina1 h3{
    letter-spacing: 4px;
    font-family: "Fredoka One";
    text-align: center;
    font-size: 15pt;
    animation: animac 2.5s linear infinite;
}

.nomMaquina1 h3:hover{
    transition: 1.2s;
    transform:scale(1.07);
}

.nomMaquina2 h3:hover{
    transition: 1.2s;
    transform:scale(1.07);
}


@keyframes anima {
    0%{
        color: white;
    }
    50%,100%{
        color: white;
        text-shadow: 0 0 10px #2ccc39,
        0 0 20px #00FFFF,
        0 0 40px #00FFFF,
        0 0 90px #00FFFF,
        0 0 1600px #00FFFF,
        0 0 2000px #00FFFF;
    }
}
@keyframes animac{
    0% {
        transform: translateY(0);
    }
    50%{
        transform: translateY(4px);
    }
    100%{
        transform: translateY(0);
    }
}

.nomMaquina2 h3{
    letter-spacing: 4px;
    font-family: "Fredoka One";
    text-align: center;
    font-size: 15pt;
    animation: animac 2.5s linear infinite;
}

@media (max-width: 858px ){
    .nomMaquina1 h3{
        font-size: 13px;
    }
}

@media (max-width: 858px ){
    .nomMaquina2 h3{
        font-size: 13px;
    }
}