@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet');

#centrardiv{
    position:absolute;
    top: 239px;
    width: 180px;
    height: 40px;
    left: 24.5%;

}
#jugar4{
    position: absolute;
    left: 66%;
    top: 11%;
    font-size: x-small;
    padding: 6px;
    padding-bottom: 5px;
    border: solid black 1px;
}
#jugar1{
    position: absolute;
    left: 66%;
    top: 11%;
    font-size: x-small;
    padding: 6px;
    padding-bottom: 5px;
    border: solid black 1px;
}
#cantidad-maq-1{
    position: absolute;
    left: 7%;
    top: 11%;
    padding: 6px;
    height: 27px;
    width: 50px;
    font-size: smaller;
}
#aumentar1{
    border: solid black 1px;
    position: absolute;
    top: 20%;
    left: 40%;
    width: 15px;
    height: auto;
    font-size: x-small;
}
#disminuir1{
    border: solid black 1px;
    position: absolute;
    top: 20%;
    left: 50%;
    width: 15px;
    height: auto;
    font-size: x-small;
}

#centrarlin1{
    position:absolute;
    top: 140px;
    width: 150px;
    height: 30px;
    left: 28.5%;
}
#lin1{
    position: absolute;
    left: 30%;
}
#lin2{
    position:absolute;
    left:30%;
}
#imagen1-4{
    position:absolute;
    top: 168px;
    width: 65px;
    height: 65px;
    left: 30%;
}
#centrarlin2{
    position:absolute;
    top: 438px;
    width: 150px;
    height: 30px;
    left: 28.5%;
}
#imagen1-2{
    position:absolute;
    top: 168px;
    width: 65px;
    height: 65px;
    left: 51%;
}
#imagen2-4{
    position:absolute;
    top: 466px;
    width: 65px;
    height: 65px;
    left: 30%;
}
#imagen2-2{
    position:absolute;
    top: 466px;
    width: 65px;
    height: 65px;
    left: 51%;
}
#centrardiv2{
    position:absolute;
    top: 537px;
    width: 180px;
    height: 40px;
    left: 24.5%;

}
#jugar2{
    position: absolute;
    left: 66%;
    top: 11%;
    font-size: x-small;
    padding: 6px;
    padding-bottom: 5px;
    border: solid black 1px;
}
#jugar3{
    position: absolute;
    left: 66%;
    top: 11%;
    font-size: x-small;
    padding: 6px;
    padding-bottom: 5px;
    border: solid black 1px;
}
#cantidad-maq-2{
    position: absolute;
    left: 7%;
    top: 11%;
    padding: 6px;
    height: 27px;
    width: 50px;
    font-size: smaller;
}
#aumentar2{
    border: solid black 1px;
    position: absolute;
    top: 20%;
    left: 40%;
    width: 15px;
    height: auto;
    font-size: x-small;
}
#disminuir2{
    border: solid black 1px;
    position: absolute;
    top: 20%;
    left: 50%;
    width: 15px;
    height: auto;
    font-size: x-small;
}

:root {
  --primary: #dc2626;
  --secondary: #6E2F24;
  --primary-light: #f87171;
  --primary-dark: #991b1b;
  --foreground: #fff;
  --gray: #78716C;
  --yellow: #f1d978;
  --bg: #f9fafb;
  --outline-none: 2px solid transparent;
  --shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);

}

#imgePirata{
    top: 85px;
    left: 45.9%;
    position: fixed;
}

#imgeEgip{
    position: fixed;
    top: 59.8%;
    left: 45.4%;
}

/*Animacion de las monedas*/

/*Animacion de las monedas--parte derecha*/
.moneda_img{
    position: absolute; bottom: 0; animation: monedas 3s linear infinite;
    display: block;
}
.moneda_img img{

    width: 54px;height: 54px;
}

.moneda_img:nth-child(1){
    left:83%; animation-duration: 5s; animation-delay: 3s;
}
.moneda_img:nth-child(2){
    left:90%; animation-duration: 4s; animation-delay: 2s;
}

.moneda_img:nth-child(3){
    left:87%; animation-duration: 2s; animation-delay: 3s;
}

.moneda_img:nth-child(4){
    left:85%; animation-duration: 3s; animation-delay: 2s;
}

/*Animacion de las monedas--parte izquierda*/
.moneda_img:nth-child(5){
    left:12%; animation-duration: 4s; animation-delay: 2s;
}

.moneda_img:nth-child(6){
    left:9%; animation-duration: 5s; animation-delay: 3s;
}

.moneda_img:nth-child(7){
    left:1%; animation-duration: 3s; animation-delay: 2s;
}

.moneda_img:nth-child(8){
    left:6%; animation-duration: 2s; animation-delay: 3s;
}

@keyframes monedas{
    0%{
        bottom: 0;

    }
    50%{
        opacity: .6;
    }
    100%{
        bottom: 100vh;
        opacity: 0;
   
    }
}

.nomMaquina1 h3{
    letter-spacing: 4px;
    font-family: "Fredoka One";
    text-align: center;
    font-size: 15pt;
    position: absolute;
    left: 51%;
    top: 10%;
    transform: translateX(-50%) translateY(-80%);
    line-height: 0.30em;
    animation: anima 4s linear infinite;
}

@keyframes anima {
    0%{
        color: white;
    }
    50%,100%{

        color: white;
        text-shadow: 0 0 10px #00FFFF,
        0 0 20px #00FFFF,
        0 0 40px #00FFFF,
        0 0 90px #00FFFF,
        0 0 1600px #00FFFF,
        0 0 2000px #00FFFF;
    }
}


.nomMaquina2 h3{
    letter-spacing: 4px;
    font-family: "Fredoka One";
    text-align: center;
    font-size: 15pt;
    position: absolute;
    left: 51%;
    top: 57%;
    transform: translateX(-50%) translateY(-80%);
    line-height: 0.30em;
    animation: animac 4s linear infinite;
}


@keyframes animac {
    0%{
        color: white;
    }
    50%,100%{

        color: white;
        text-shadow: 0 0 10px #39ff14,
        0 0 20px #39ff14,
        0 0 40px #39ff14,
        0 0 90px #39ff14,
        0 0 1600px #39ff14,
        0 0 2000px #39ff14;

    }
}

@media (max-width: 858px ){
    .nomMaquina1 h3{
        font-size: 13px;
    }
}

@media (max-width: 858px ){
    .nomMaquina2 h3{
        font-size: 13px;
    }
}

#maq_celeste_Mov:hover{
    transition: 1.2s;
    transform:scale(1.10);

}

#maq_rosa_Mov:hover {
    transition: 1.2s;
    transform:scale(1.07);
}


