@import './assets/styles/preflight.css';
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet');


:root {
  --primary: #dc2626;
  --secondary: #6E2F24;
  --primary-light: #f87171;
  --primary-dark: #991b1b;
  --foreground: #fff;
  --gray: #78716C;
  --bg: #f9fafb;
  --outline-none: 2px solid transparent;
  --shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);

}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

.icon {
  border-radius: 100%;
  color: var(--foreground);
  padding: 0.25rem 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.burger-icon {
  margin-right: 0.25rem;
}

.icon:focus {
  outline: var(--outline-none);
}

.w-6 {
 width: 1.5rem;
}
.h-6 {
  height: 1.5rem;
}
.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
}

.header-left {
  display: flex;
  align-items: center;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.absolute {
  position: absolute;
}

.btn {
  padding: 0.5rem 0.75rem;
  display: block;
  border-radius: 6px;
  font-weight: 500;
}

.btn-primary {
  background-color: var(--primary);
  color: var(--foreground);
}
.btn-primary:hover {
  background-color: var(--primary-dark);
}
.btn-primary:focus {
  outline: var(--outline-none);
}

.btn-secondary {
  color: var(--primary);
  border-width: 2px;
  border-color: var(--primary);
}
.btn-secondary:hover {
  color: var(--primary-dark);
  border-color: var(--primary-dark);
}


.bg-primary {
  background-color: var(--primary);
}
.bg-primary-dark {
  background-color: var(--primary-dark);
}
.text-primary {
  color: var(--primary);
}

#option-menu {
  position: absolute;
  overflow: hidden;
  background-color: var(--bg);
  right: 8px;
  top: 8px;
  border-radius: 4px;
  z-index: 10;
}
#option-menu a {
  display: block;
  padding: 0.25rem 0.5rem;
  text-align: center;
  color: black;
  border-color: var(--gray);
  border-width: 0px 0px 2px 0px;
}
#option-menu a:last-child {
  border-width: 0px;
}

#option-menu a:hover {
  background-color: var(--primary-dark);
  color: var(--foreground);
}


#popup-container {
  height: 100vh;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

#first-popup {
  background-color: var(--bg);
  border-color: var(--primary);
  border-width: 2px;
  border-radius: 10px;
  overflow: hidden;
  max-width: 340px;
  z-index: 5;
  padding: 15px 15px;
  box-shadow: var(--shadow);
}

#popup-actions {
  margin-top: 15px;
  justify-content: end;
}
#popup-actions button:last-child {
  margin-left: 5px;
}
#popup-img {
  margin-top: 20px;
}

#main-menu {
  height: 100vh;
  display: flex;
  padding: 0px 50px;
}
#main-menu > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#main-menu a {
  text-align: center;
  margin: 8px;
}

.label {
  color: var(--primary-dark);
  font-weight: 500;
}

.input-text {
  width: 100%;
  border-radius: 5px;
  padding: 5px 8px;
  border-width: 2px;
  border-color: var(--primary);
}
.input-text:focus {
  outline: var(--outline-none);
  border-color: var(--primary-dark);
}
.mt-4 {
  margin-top: 4px;
}

/*Fondo de imagen*/
body{
    /* background-image: url(./assets/img/casino.png); */
    background-size: 100% 100%;
    background-attachment:fixed;
    font-family: montserrat;
}

/*Conteiner superior*/
nav#header{
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 0.5rem;
  background: var(--primary) ;
}
nav div > a {
  color: var(--foreground);
  font-size: 1.025rem;
  line-height: 1.75rem;
  font-weight: 500;
}

nav#header ul{
    float:right;
    margin-right: 12px;
}

nav#header ul li{
    display:inline-block;
    line-height: 80px;
    margin: 0 4px;
}

/* nav#header ul li a { */
/*     color:white; */
/*     font-size: 16px; */
/*     padding: 7px 13px; */
/*     border-radius: 3px; */
/* } */

label.nombreTragamoneda {
    font-size: 28px;
    color: white;
    line-height:80px;
    padding: 0 100px;
    font-weight: bold;
}

/*Diseño del los botones*/
/* a.activo,a:hover{ */

/*     background :black; */
/* } */

 /*Cambio de diseño al ajustar la pantalla*/

 /*Barra de despliegue*/
 .checkbtn{
    display: none;
    float:right;
    font-size: 24px;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
}

#check{
    display: none;
}

@media (max-width: 952px ){

    div#header label.nombreTragamoneda{
        font-size: 20px;
        padding-left: 50px;
    }
    ul li a {
        font-size: 20px;
    }
}

@media (max-width: 858px ){

    .checkbtn{
        display: block;
    }
    ul{
        transition: all .3s ;
        background: black;
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 60px;
        left: 100%;
        text-align: center;
    }
    div#header ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    div#header a:hover,a.activo{
        background: none;
        color: red;
    }

    #check:checked ~ ul{
        left: 0;
    }
}




@media (max-width: 1700px ){
    label.nombreTragamoneda{
        font-size: 25px;
        padding: 50px;
    }
    div#header ul li a {
        font-size: 12px;
    }
}

@media (max-width: 1000px ){
    label.nombreTragamoneda{
        font-size: 20px;
        padding: 50px;
    }
    div#header ul li a {
        font-size: 13px;
    }
}


/*Animacion de las monedas*/

/*Animacion de las monedas--parte derecha*/
.moneda_img{
    position: absolute; bottom: 0; animation: monedas 3s linear infinite;
    display: block;
}
.moneda_img img{

    width: 50px;height: 50px;
}

.moneda_img:nth-child(1){
    left:83%; animation-duration: 5s; animation-delay: 3s;
}
.moneda_img:nth-child(2){
    left:90%; animation-duration: 4s; animation-delay: 2s;
}

.moneda_img:nth-child(3){
    left:87%; animation-duration: 2s; animation-delay: 3s;
}

.moneda_img:nth-child(4){
    left:85%; animation-duration: 3s; animation-delay: 2s;
}

/*Animacion de las monedas--parte izquierda*/
.moneda_img:nth-child(5){
    left:12%; animation-duration: 4s; animation-delay: 2s;
}

.moneda_img:nth-child(6){
    left:9%; animation-duration: 5s; animation-delay: 3s;
}

.moneda_img:nth-child(7){
    left:1%; animation-duration: 3s; animation-delay: 2s;
}

.moneda_img:nth-child(8){
    left:6%; animation-duration: 2s; animation-delay: 3s;
}

@keyframes monedas{
    0%{
        bottom: 0;

    }
    50%{
        opacity: .6;
    }
    100%{
        bottom: 100vh;
        opacity: 0;
   
    }
}

/*Diseño del nombre de las maquinas 1 y 2*/
.nomMaquina1 h3{
    letter-spacing: 4px;
    text-align: center;
    font-family: "Fredoka One";
    font-size: 20pt;
    position: absolute;
    left: 35%;
    top: 94%;
    transform: translateX(-80%) translateY(-80%);
    line-height: 0.30em;
    animation: animacion 4s linear infinite;
}

@keyframes animacion {
    0%{
        color: white;
    }
    50%,100%{

        color: white;
        text-shadow: 0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 90px #03bcf4,
        0 0 1600px #03bcf4,
        0 0 2000px #03bcf4;
    }
}


.nomMaquina2 h3{
    letter-spacing: 4px;
    font-family: "Fredoka One";
    text-align: center;
    font-size: 20pt;
    position: absolute;
    left: 67%;
    top: 94%;
    transform: translateX(-50%) translateY(-80%);
    line-height: 0.30em;
    animation: anima 4s linear infinite;
}


@keyframes anima {
    0%{
        color: white;
    }
    50%,100%{

        color: white;
        text-shadow: 0 0 10px #CD1B8B ,
        0 0 20px #CD1B8B,
        0 0 40px #CD1B8B,
        0 0 90px #CD1B8B,
        0 0 1600px #CD1B8B,
        0 0 2000px #CD1B8B;

    }
}

@media (max-width: 858px ){
    .nomMaquina1 h3{
        font-size: 13px;
    }
}

@media (max-width: 858px ){
    .nomMaquina2 h3{
        font-size: 13px;
    }
}
